/* common */

:root{
  --himawari: rgb(255, 208, 0);
}

html{
  scroll-behavior: smooth;
}
body{
  /* font-family: "OptimaLTPro-Roman","Ryumin Regular KL",serif; */
  position: relative;
  margin: 0;
  background: rgb(209, 203, 203);
  line-height: 1.6;
  font-family: 'Shippori Mincho B1', serif;
}
h1{
  color: black;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Sansita Swashed', cursive;
}
h2{
  margin: 8px;
}
p{
  margin: 0;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
section + section{
  margin-top: 160px;
}
.anchor{
  position: relative;
  top: -80px;
  display: block;
}

/* ↓各サイト用フォント↓ */

@font-face{ 
  font-family: 'huiji-subset';
  src: url('../fonts/ふい字\(サブセット\).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.monte{
  font-family: 'huiji-subset', cursive;
}
.monte-img{
  width: 150px;
  object-fit: contain;
}
.sokudoku{
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: .2em;
  text-decoration: underline;
}
.typing{
  font-family: 'Monofett', cursive;
  color: #fff;
  font-size: 40px;
  letter-spacing: .07em;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.monkeybord{
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 24px;
}
.monkeybord span{
  font-family: 'Kaisei HarunoUmi', serif;
  font-size: 19px;
}

/* ↑各サイト用フォント↑ */


/* ↓TOPへ戻るボタン↓ */

.top{
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.top__img{
  width: 70px;
  object-fit: contain;
  backface-visibility: hidden;
  filter: drop-shadow(0 0 3px rgba(0,0,0,5));
}
.top{
  opacity: 0;
  transition: opacity .5s;
}
.top.scrolled{
  opacity: 1;
}

/* ↑TOPへ戻るボタン↑ */

/* ↓枠線↓ */

.top-right{
  position: fixed;
  top: 11px;
  right: 11px;
  width: calc(100% - 330px - 16px);
  height: calc(100vh - 22px);
  border-top: 1.5px solid rgba(255,255,255,.9);
  border-right: 1px solid rgba(255,255,255,.9);
}
.bottom-left{
  position: fixed;
  top: 150px;
  left: 11px;
  width: 100px;
  width: calc(100% - 22px);
  height: calc(100vh - 150px - 11px);
  /* border: 1px solid rgba(255,255,255,.9); */
  border-bottom: 1px solid rgba(255,255,255,.9);
  border-left: 1px solid rgba(255,255,255,.9);
}

/* ↑枠線↑ */


/* header */

header{
  position: fixed;
  top: 0;
  height: 9vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:background-color .3s, box-shadow .3s;
  z-index: 3;
}
.header__title-img{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 16px);
  max-width: 400px;
  object-fit: contain;
  margin: 8px;
  backface-visibility: hidden;
  filter: drop-shadow(0 0 3px rgba(0,0,0,5));
  pointer-events: none;
  transition: opacity .3s;
}
/* .header__title-img--not-hover{
  z-index: 1;
}
.header__title-img--not-hover:hover{
  opacity: 0;
}
header.scrolled .header__title-img--not-hover:hover 
+ .header__title-img--hover{
  opacity: 0;
} */
.header__nav{
  position: absolute;
  top: 65px;
  right: 12%;
  margin: 16px;
}
.header__nav-icon{
  font-size: 24px;
  color: white;
  filter: drop-shadow(0 0 3px rgba(0,0,0,5));
  text-decoration: none;
  font-weight: normal;
  transition: all .3s;
}
.header__nav-icon:hover{
  color: var(--himawari);
  border-color: var(--himawari);
}
.scrolled .header__nav-icon:hover{
  color: #222;
}
.header__nav-icon + a{
  margin: 0 8px;
}

/* hero */

.hero__himawari{
  width: 100%;
  height: 500px;
  background-image: url(../img/himawari.jpg);
  background-size: cover;
  margin: 0 auto;
}
.hero__gradient{
  width: 100%;
  height: 501px;
  background: linear-gradient(rgba(0,0,0,0.4) 8%,rgba(0,0,0,0) 20%,rgba(209, 203, 203,1) 100%);
}
.hero__lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 230px;
  margin: 0 auto;
  font-family: 'Sansita Swashed', cursive;
}
.hero__list{
  width: 110px;
  height: 60px;
  margin: 20px;
  /* outline: 1px solid pink; */
}
.hero__list a{
  position: relative;
}
.hero__list-frame{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  object-fit: contain;
  backface-visibility: hidden;
  filter: drop-shadow(0 0 3px rgba(0,0,0,5));
  z-index: 2;
}
.hero__list-frame-hover{
  opacity: 0;
  filter: none;
  z-index: 1;
  transition: opacity .3s;
}
.hero__list-frame:hover + .hero__list-frame-hover{
  opacity: 1;
}
.hero__list div{
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 3px rgba(0,0,0,5);
}
.hero__list:nth-child(1) div{
  top: -6px;
  left: 23px;
}
.hero__list:nth-child(2) div{
  top: -6px;
  left: 29px;
}
.hero__list:nth-child(3) div{
  top: -6px;
  left: 22px;
}
.hero__list:nth-child(4) div{
  top: -6px;
  left: 14px;
}


/* about */

.about p{
  max-width: 700px;
  text-align: center;
  padding: 0 40px;
  margin: 24px auto 24px;
}
details{
  margin: 0 auto;
  max-width: 580px;
  padding: 0 50px;
}
details + details{
  margin-top: 10px;
}
summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
  background-color: rgb(185, 177, 173);
  border: 1px solid #fff;
  padding: 5px 30px;
  color: #fff;
  transition: all .3s;
}
summary:hover{
  background-color: rgba(255, 208, 0,0.3);
}
summary::after{
  content: "+";
  color: #fff;
  font-size: 21px;
  transition: transform 1s;
}
details[open] summary::after{
  transform: rotate(225deg);
}
summary::-webkit-details-marker{
  display: none;
}
.answer{
  padding: 10px;
  line-height: 1.6;
}
.answer p{
  padding: 0;
  margin: 0;
}
details[open] .answer{
  animation: fadein .5s;
}
@keyframes fadein{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

/* skill */

.skill li{
  margin: 0 20px;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .5s, transform .5s ;
}
.skill li.appear{
  opacity: 1;
  transform: translateY(0);
}
.skill li + li{
  margin-top: 24px;
}
.skill li img{
  width: 80px;
  height: 80px;
  margin-right: 16px;
}
.skill h2{
  font-weight: normal;
  font-size: 24px;
}

/* work */

.work ul{
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.work_list{
  margin: 0 auto;
  min-width: 300px;
  max-width: 400px;
  margin: 40px 24px 0;
  text-align: center;
  flex: 1;
}
.work_list h2{
  margin: 8px;
}
.work dl{
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
}
.work dt{
  font-weight: bold;
  margin: 4px auto;
}
.work dt::before,
.work dt::after{
  content: '-';
  padding: 4px;
}
.work dd + dt{
  padding-top: 12px;
  border-top: 1px dotted black;
}
.work dd{
  display: table;
  margin: 8px auto;
  text-align: left;
}
.works__list-img{
  width: 300px;
  border-radius: 4px;
  transition: all .3s;
}
.works__list-img:hover{
  transform: translate(-4px,-6px);
  box-shadow: 8px 12px rgba(255, 208, 0, 0.5);
}

/* contact */

.contact h1,
.contact p{
  color: black;
  text-align: center;
  margin: 16px 0 0;
}
.contact a{
  color:black;
}
.contact a:hover{
  color: var(--himawari);
}
.contact{
  margin-bottom: 100px;
  text-align: center;
}

/* footer */

footer{
  text-align: center;
  margin: 16px 0;
}
footer small{
  color: black;
  font-family: 'Sansita Swashed', cursive;
}

/* midium-small */

@media (min-width:530px){
  .header__nav{
    position: absolute;
    top: 0;
    right: 0;
  }
  .header__nav-icon + a{
    margin: 0 16px 0 8px;
  }
}

/* midium */

@media (min-width:550px){

  nav ul li{
    width: 40%;
    /* margin: 40px 0 ; */
  }
  .skill ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
  }
  .skill li{
    display: block;
    width: 200px;
    text-align: center;
    margin-top: 40px;
  }
  .skill li + li{
    margin-top: 40px;
  }
  .skill li p{
    text-align: left;
  }
  .skill li img{
    margin-right: 0;
  }
}

/* large */

@media (min-width:850px){
  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 400px 0;
    margin: 0 60px;
    justify-content: space-around;
  }
  nav ul li{
    width: 25%;
    margin: 0 ;
  }
  nav ul li + li{
    margin-top: 0;
  }
}