/* common */
html{
  scroll-behavior: smooth;
}
body{
  font-family:"OptimaLTPro-Roman","Ryumin Regular KL",serif;
  margin: 0;
  background: rgb(209, 203, 203);
}
h1{
  color:black;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight:normal;
}
h2{
  margin: 4px;
}
p{
  margin: 0;
}
a{
  color:white;
  transition: all .3s;
  text-decoration: none;
  font-weight: normal;
}
a:hover{
  color:rgb(255, 208, 0);
  border-color: rgb(255, 208, 0);
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.top{
  font-size: 36px;
  padding: 0 5px;
  color: rgba(255, 208, 0,0.8);
  position: fixed;
  right:30px;
  bottom:20px;

}
#top{
  opacity: 0;
  transition: opacity .5s;
}
#top.scrolled{
  opacity: 1;
}
section + section{
  margin-top: 160px;
}
span{
  position:relative;
  top:-80px;
  display: block;
}

/* header */

header{
  position:fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 0 16px; */
  align-items: center;
  transition:background-color .3s, box-shadow .3s;
  z-index: 1;
}
header.scrolled{
  background-color: rgba(255, 208, 0, 0.5);
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
/* header:hover.scrolled{
  color:black !important;
} */
header h1{
  color:white;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight:normal;
  transition: all .3s; 
}
header h1:hover{
  color:rgb(255, 208, 0);
}
header i{
  font-size: 24px;
}
header a{
  margin: 0 16px;
}

/* hero */

.bgi{
  background-image: url(../img/DSCF0817.JPG);
  width: 100%;
  height: 500px;
  background-size:cover;
  margin: 0 auto;
}
.rgb{
  background: linear-gradient(rgba(0,0,0,0),rgba(209, 203, 203,1));
  width: 100%;
  height: 501px;
}

/* nav */

nav ul{
  text-align: center;
  padding-top: 300px;
  margin: 0;
}
nav ul li + li{
  margin-top: 40px;
}
nav ul li a{
  color:black;
  border:1px solid black;
  font-size: 24px;
  padding: 16px 16px;
}

/* about */

.about p{
  text-align: center;
  padding: 0 40px;
  margin: 24px auto 24px;
  max-width: 700px;
}
details{
  margin: 0 auto;
  max-width: 580px;
  padding: 0 50px;
}
details + details{
  margin-top: 10px;
}
summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgb(185, 177, 173);
  /* border-radius: 3px; */
  /* border: 2px solid rgba(255, 208, 0,0.8); */
  border: 1px solid #fff;
  padding: 5px 30px;
  color: #fff;
}
summary:hover{
  background-color: rgba(255, 208, 0,0.3);
}
summary::after{
  content: "+";
  margin-left: 30px;
  color: #fff;
  font-size: 21px;
  transition: transform 1s;
}
details[open] summary::after{
  transform: rotate(225deg);
}
summary::-webkit-details-marker{
  display: none;
}
.answer{
  padding: 10px;
  line-height: 1.6;
}
.answer p{
  margin: 0;
}
details[open] .answer{
  animation: fadein .5s ease;
}
@keyframes fadein{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


/* skill */

.skill li{
  /* outline: 1px solid red; */
  margin: 0 30px;
  display: flex;
  align-items: center;
  
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .5s, transform .5s ;
}
.skill li.appear{
  opacity: 1;
  transform: translateY(0);
}
.skill li + li{
  margin-top: 24px;
}
.skill li img{
  width: 80px;
  height: 80px;
  margin-right: 16px;
}
.skill h2{
  font-weight: normal;
  font-size: 24px;
}

/* work */

.work ul{
  padding: 0 50px;
}
.work ul li h2{
  margin: 0;
}
.work ul li a{
  color:black;
  display: block;
  text-align: center;
  border:1px solid black;
}
.work ul li a:hover{
  color:rgb(255, 208, 0);
  border-color:rgb(255, 208, 0);
}
.work li{
  padding: 8px;
}
.work li + li{
  margin-top: 16px;
}
.work p{
  margin: 0;
}

/* contact */

.contact h1,
.contact p{
  color:black;
  text-align: center;
  margin: 16px 0 0;
}
.contact a{
  color:black;
}
.contact a:hover{
  color:rgb(255, 208, 0);
}
.contact{
  margin-bottom: 100px;
  text-align: center;
}

/* footer */

footer{
  text-align: center;
  margin: 16px 0;
}
footer small{
  color:white;
}

/* midium */

@media (min-width:550px){
  body{
    /* background: pink; */
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
    justify-content:space-around
  }
  nav ul li{
    width: 40%;
    /* outline: 2px solid red; */
    margin: 40px 0 ;
  }
  .skill ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0 40px;
  }
  .skill li{
    display: block;
    width: 200px;
    text-align: center;
    margin-top: 40px;
  }
  .skill li + li{
    margin-top: 40px;
  }
  .skill li p{
    text-align: left;
  }
  .skill li img{
    margin-right: 0;
  }
}

/* large */

@media (min-width:850px){
  body{
    /* background: blue; */
  }
  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 400px 0;
    margin: 0 60px;
    justify-content:space-around;
  }
  nav ul li{
    width: 25%;
    /* outline: 2px solid red; */
    margin: 0 ;
  }
  nav ul li + li{
    margin-top: 0;
  }
}