/* common */

:root{
  --himawari: rgb(255, 208, 0);
}

html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  position: relative;
  margin: 0;
  background: rgb(209, 203, 203);
  font-family: 'Zen Kurenaido', sans-serif;
}
h1{
  color: black;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Sansita Swashed', cursive;
}
h2{
  margin: 8px;
}
p{
  display: table;
  text-align: left;
}
p,dd{
  letter-spacing: .1em;
  line-height: 1.4em;
}
dt{
  letter-spacing: .2em;
}
section + section{
  margin: 160px 40px;
}
img{
  backface-visibility: hidden;
}
.anchor{
  position: relative;
  top: -80px;
  display: block;
}


/* ↓↓　各サイト用フォント　↓↓ */

  @font-face{ 
    font-family: 'huiji-subset';
    src: url('../fonts/ふい字\(サブセット\).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .monte{
    font-family: 'huiji-subset', cursive;
  }
  .monte-img{
    width: 150px;
    object-fit: contain;
  }
  .sokudoku{
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: .2em;
    text-decoration: underline;
  }
  .typing{
    font-family: 'Monofett', cursive;
    color: #fff;
    font-size: 40px;
    letter-spacing: .07em;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
  }
  .monkeybord{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 24px;
  }
  .monkeybord .no{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 19px;
  }

/* ↑↑　各サイト用フォント　↑↑ */

/* ↓↓　カーニング(jsと連携、フォント変更の際は注意)　↓↓ */

  .left-bracket-16px{
    margin-left: -6px;
  }
  .right-bracket-16px{
    margin-right: -6px;
  }
  .punctuation{
    margin-right: -6px;
  }

/* ↑↑　カーニング(jsと連携、フォント変更の際は注意)　↑↑ */

/* ↓↓　ロード画面　↓↓ */

  .loading{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    opacity: .95;
    z-index: 999;
    transition: opacity 1s;
  }
  .loading.loaded{
    opacity: 0;
    pointer-events: none;
  }
  .loading div{
    position: relative;
  }
  .loading p{
    position: absolute;
    top: -12px;
    left: -32px;
  }
  .loading__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    transform: translate(-50%,-50%);
    object-fit: contain;
    display: none;
    /* opacity: .8; */
    /* filter: grayscale(50%); */
  }
  .loading__img.show{
    display: block;
  }

/* ↑↑　ロード画面　↑↑ */


/* ↓↓　TOPへ戻るボタン　↓↓ */

  .top{
    position: fixed;
    right: 6px;
    bottom: 10px;
  }
  .top__img{
    width: 70px;
    object-fit: contain;
    filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
    z-index: 3;
  }
  .top__img-hover{
    position: absolute;
    top: 0;
    left: 0;
    filter: none;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s;
  }
  .top__img:hover + .top__img-hover{
    opacity: 1;
  }
  .top{
    pointer-events: none;
    transform: translateY(120px);
    transition: transform 1s ease;
  }
  .top.show{
    transform: none;
    pointer-events: all;
  }

/* ↑↑　TOPへ戻るボタン　↑↑ */


/* ↓↓　枠線　↓↓ */

  .border__top-right{
    position: fixed;
    top: calc((100vw / 10) + 11px);
    right: 11px;
    width: calc(100% - 400px - 16px);
    height: calc(100% - (100vw / 10) - 86.5px);
    /* height: calc(100% - (100vw / 10) - 22px); */
    border-right: 1.4px solid rgba(255,255,255,.9);
    pointer-events: none;
    /* transition: height 1.2s; */
    animation: right-long .5s forwards;
  }
  .border__top-right.short{
    height: calc(100% - (100vw / 10) - 22px);
    /* height: calc(100% - (100vw / 10) - 86.5px); */
    animation: right-short .8s forwards .23s;
  }
  @keyframes right-short{
    0%{
      height: calc(100% - (100vw / 10) - 22px);
    }
    100%{
      height: calc(100% - (100vw / 10) - 86.5px);
    }
  }
  @keyframes right-long{
    0%{
      height: calc(100% - (100vw / 10) - 86.5px);
    }
    100%{
      height: calc(100% - (100vw / 10) - 22px);
    }
  }
  .border__bottom-left{
    position: fixed;
    top: calc(100vw / 2.3);
    left: 11px;
    width: 100px;
    /* width: calc(100% - 22px); */
    width: calc(100% - 86px);
    height: calc(100% - (100vw / 2.3) - 11px);
    border-bottom: 1.4px solid rgba(255,255,255,.9);
    border-left: 1.4px solid rgba(255,255,255,.9);
    pointer-events: none;
    /* transition: width 0s ; */
    animation: bottom-long .5s ease-in-out forwards;
  }
  .border__bottom-left.short{
    width: calc(100% - 22px);
    /* width: calc(100% - 86px); */
    animation: bottom-short .8s forwards .23s;
  }
  @keyframes bottom-short{
    0%{
      width: calc(100% - 22px);
    }
    100%{
      width: calc(100% - 86px);
    }
  }
  @keyframes bottom-long{
    0%{
      width: calc(100% - 86px);
    }
    100%{
      width: calc(100% - 22px);
    }
  }

  @media (min-width: 430px){

    .border__top-right{
      top: 11px;
      width: calc(100% - 400px - 16px);
      height: calc(100% - 86.5px);
      border-top: 1.4px solid rgba(255,255,255,.9);
      animation: right-long-w .5s forwards;
    }
    .border__top-right.short{
      height: calc(100% - 22px);
      animation: right-short-w .8s forwards .23s;
    }
    @keyframes right-short-w{
      0%{
        height: calc(100% - 22px);
      }
      100%{
        height: calc(100% - 86.5px);
      }
    }
    @keyframes right-long-w{
      0%{
        height: calc(100% - 86.5px);
      }
      100%{
        height: calc(100% - 22px);
      }
    }
    .border__bottom-left{
      top: 180px;
      width: calc(100% - 22px);
      height: calc(100% - 180px - 11px);
    }
  
  }

/* ↑↑　枠線　↑↑ */


/* ↓↓　header　↓↓ */

  header{
    position: fixed;
    top: 0;
    height: 9vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:background-color .3s, box-shadow .3s;
    z-index: 3;
  }
  .header__title-img{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    max-width: 400px;
    object-fit: contain;
    margin: 8px;
    filter: drop-shadow(0 0 3px rgba(0,0,0,.5));
    pointer-events: none;
    transition: opacity .3s;
  }
  .header__nav{
    position: absolute;
    top: 76px;
    right: 14%;
  }
  .header__nav-icon{
    font-size: 24px;
    color: #fff;
    filter: drop-shadow(0 0 3px rgba(0,0,0,.7));
    text-decoration: none;
    transition: all .3s;
  }
  .header__nav-icon:hover{
    color: var(--himawari);
    border-color: var(--himawari);
  }
  .header__nav-icon + a{
    margin: 0 8px;
  }

  @media (min-width: 430px){

    .header__nav{
      position: absolute;
      right: calc(100% - 353px);
    }

  }

  @media (min-width: 495px){

    .header__nav{
      top: 44px;
      right: 10px;
    }

  }

  @media (min-width: 530px){

    .header__nav{
      top: 17px;
      right: 16px;
    }

  }

/* ↑↑　header　↑↑ */


/* ↓↓　hero　↓↓ */

  .hero{
    overflow: hidden;
  }
  .hero__himawari{
    width: 100%;
    height: 600px;
    background-image: url(../img/himawari.jpg);
    background-size: cover;
    background-position: 50% 20%;
    margin: 0 auto;
  }
  .hero__gradient{
    width: 100%;
    height: 601px;
    background: linear-gradient(rgba(0,0,0,0.4) 8%,rgba(0,0,0,0) 40%,rgba(209, 203, 203,1) 100%);
    /* background: linear-gradient(rgba(0,0,0,0.4) 8%,rgba(0,0,0,0) 40%,rgb(91, 104, 114) 100%); */
  }
  .hero__lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 270px;
    margin: 0 auto;
    font-family: 'Sansita Swashed', cursive;
  }
  .hero__list{
    display: flex;
    justify-content: center;
    min-width: 110px;
    width: 35%;
    height: 60px;
    margin: 20px 12px;
    text-align: center;
    /* outline: 1px solid pink; */
  }
  .hero__list a{
    display: block;
    position: relative;
    width: 110px;
  }
  .hero__list-frame{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110px;
    object-fit: contain;
    filter: drop-shadow(0 0 3px rgba(0,0,0,1));
    z-index: 2;
  }
  .hero__list-frame-hover{
    opacity: 0;
    filter: none;
    z-index: 1;
    transition: opacity .3s;
  }
  .hero__list-frame:hover + .hero__list-frame-hover{
    opacity: 1;
  }
  .hero__list div{
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 3px rgba(0,0,0,1);
  }
  .hero__list:nth-child(1) div{
    top: -4px;
    left: 23px;
  }
  .hero__list:nth-child(2) div{
    top: -5px;
    left: 29px;
  }
  .hero__list:nth-child(3) div{
    top: -3px;
    left: 22px;
  }
  .hero__list:nth-child(4) div{
    top: -3px;
    left: 14px;
  }

  @media (min-width: 800px){

    .hero__lists{
      padding-top: 300px;
    }
    .hero__list{
      width: 15%;
    }

  }

/* ↑↑　hero　↑↑ */


/* ↓↓　about　↓↓ */

  .about p{
    max-width: 700px;
    margin: 8px auto;
  }
  details{
    margin: 0 auto;
    max-width: 400px;
  }
  details + details{
    margin-top: 10px;
  }
  summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
    background-color: rgb(185, 177, 173);
    border: 1px solid #fff;
    padding: 5px 30px;
    color: #fff;
    transition: all .3s;
  }
  summary:hover{
    background-color: rgba(255, 208, 0,0.3);
  }
  summary::after{
    content: "+";
    color: #fff;
    font-size: 21px;
    transition: transform 1s;
  }
  details[open] summary::after{
    transform: rotate(225deg);
  }
  summary::-webkit-details-marker{
    display: none;
  }
  .answer{
    padding: 10px;
    line-height: 1.6;
  }
  .answer p{
    padding: 0;
    margin: 0;
  }
  details[open] .answer{
    animation: fadein .5s;
  }
  @keyframes fadein{
    0%{
      opacity: 0;
      transform: translateY(-20px);
    }
    100%{
      opacity: 1;
      transform: none;
    }
  }

/* ↑↑　about　↑↑ */


/* ↓↓　skill　↓↓ */

  .skill__lists{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .skill__list{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .skill__list + li{
    margin-top: 24px;
  }
  .skill__list-img{
    width: 80px;
    height: 80px;
    margin-right: 16px;
  }
  .skill h2{
    font-size: 24px;
  }

  @media (min-width:400px){

    .skill__lists{
      margin: 0 20px;
    }
    .skill__list{
      display: flex;
      align-items: center;
      max-width: 400px;
      margin: 0;
    }
    .skill__list + li{
      margin-top: 40px;
    }
    .skill__list p{
      text-align: left;
    }
    .skill__list-img{
      margin: 16px;
    }

  }

  @media (min-width:620px){

    .skill__list{
      display: block;
      width: 200px;
      text-align: center;
      margin: 40px 20px;
    }

  }

/* ↑↑　skill　↑↑ */


/* ↓↓　works　↓↓ */

  .works ul{
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .works__list{
    margin: 0 auto;
    min-width: 300px;
    max-width: 400px;
    margin: 40px 24px 0;
    text-align: center;
    flex: 1;
  }
  .works__list h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 8px;
  }
  .works__dl{
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
  }
  .works__dt{
    font-weight: bold;
    margin: 4px auto;
  }
  .works__dt::before,
  .works__dt::after{
    content: '-';
    padding: 4px;
  }
  .works__dd + dt{
    padding-top: 12px;
    border-top: 1px dotted black;
  }
  .works__dd{
    display: table;
    margin: 8px auto;
    text-align: left;
  }
  .works__list-img{
    width: 300px;
    height: 200px;
    border-radius: 4px;
    transition: all .3s;
  }
  .works__list-img:hover{
    transform: translate(-4px,-6px);
    box-shadow: 8px 12px rgba(255, 208, 0, 0.5);
  }

/* ↑↑　works　↑↑ */


/* ↓↓　contact　↓↓ */

  .contact{
    margin-bottom: 100px;
    text-align: center;
  }
  .contact__mail{
    margin: 16px;
  }
  .contact__mail a{
    text-decoration: underline;
    transition: color .3s;
  }
  .contact__mail a:hover{
    color: var(--himawari);
  }
  .contact__icon{
    color:black;
    font-size: 20px;
    transition: color .3s;
  }
  .contact__icon:hover{
    color: var(--himawari);
  }

/* ↑↑　contact　↑↑ */


/* ↓↓　footer　↓↓ */

  footer{
    text-align: center;
    margin: 16px 0;
  }
  footer small{
    color: #fff;
    font-family: 'Sansita Swashed', cursive;
  }

/* ↑↑　footer　↑↑ */